:root{
    --bg-color: rgb(17, 3, 97);
    --body-color: black;
    --title-color: #d3d3f7;
    --bg-modal: white;

    font-size: 60%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--body-color);
    color: var(--title-color);
    font-family: 'Suez One', serif;
}

#title{
    width: 80%;
    text-align: center;
    margin: 1.5rem auto;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
}

.restart{
    margin: 3rem auto;
    display: flex;
    justify-content: center;
}

.restart button,
.white button{
    background: var(--bg-color);
    color: var(--title-color);
    font-family: 'Suez One', serif;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    width: 10rem;
    height: 3rem;
    margin: auto;
    cursor: pointer;
}

#cardboard{
    width: 100vw;
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem auto;
}

.memory-card{
    width: calc(25% - 0.8rem);
    height: 33%;
    margin: 0.4rem;
    transform-style: preserve-3d;
    transition: 0.8s;
    position: relative;
    cursor: pointer;
}

.memory-card:active{
    transform: scale(0.97);
}

.memory-card.flip{
    transform: rotateY(180deg);
}

.front-face,
.back-face{
    background: var(--bg-color);
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 1.2rem;
}

.front-face{
    transform: rotateY(180deg);
}

#game.active{
    opacity: 0;
}

.modal{
    top: 110px;
    width: 39.4rem;
    height: 200px;
    right: auto;
    position: fixed;
    opacity: 1;
    background: white;
    color: var(--bg-color);
    border-radius: 8px;
}

.container{
    margin: 2rem;
    font-size: 1.5rem;
    color: var(--bg-color);
    text-align: center ;
}

.white{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.title{
    font-size: 3rem;
    text-align: center;
    margin: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

@media(max-width:1000px){
    .modal{
        left: 16%;
        width: 70%;
        height: 180px;
        right: auto; 
    }

    .title{
        font-size: 2.5rem;
        letter-spacing: 0.2rem;
    }
}