:root{
    --primary: rgb(3, 47, 73);
    --secondary: rgb(115, 199, 248);
    --text-color: #e123b2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-width: 600px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, var(--primary) 50%, var(--secondary) 50%);
}

h1{
    font-size: 5rem;
    line-height: 10rem;
    padding: 2rem;
    text-align: center;
    background: linear-gradient(to bottom,  var(--secondary) 50%, var(--primary) 50%);
    color: var(--text-color);
    align-self: center;
}
