
body{
    background: black;
    font-family: 'Dancing Script', cursive;
}

.cube{
    width:18.75rem;
    height:18.75rem;
    margin: 30rem auto;
    perspective: 56.25rem;


}

.faces{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: rotation 50s infinite;
}

@keyframes rotation{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(720deg);
    }
}

.face,
.modal{
    position: absolute;
    text-align: center;
}

.face-left{
    background: pink;
    width: 100%;
    height: 100%;
    transform: translateX(-50%) rotateY(90deg) scaleX(-1)
}

.face-right{
    background: blue;
    width: 100%;
    height: 100%;
    transform: translateX(50%) rotateY(90deg)
}

.face-front{
    background: yellow;
    width: 100%;
    height: 100%;
    transform: translateZ(-9.375rem) scaleX(-1)
}

.face-back{
    background: green;
    width: 100%;
    height: 100%;
    transform: translateZ(9.375rem)
}

img{
    width: 80%;
    margin-top: 40%;
    cursor: pointer;
}

.left,
.right,
.front,
.back{
    width: 75%;
    
    position: absolute;
    top: 20%;
    left: 10%;

    color: white;
    visibility: hidden;
    font-size: 10rem;
    background: red;
    text-align: center;
    padding: 5rem;
}

.left.active,
.right.active,
.front.active,
.back.active{
    visibility: visible;
}




